<h1 class="text-center">Elections BdE INSA Lyon</h1>


<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
    <p class="clearfix" style="margin-top:20px;">Sélectionnez votre vote&nbsp;</p>
    <%= form_for(@vote, url: {action: :register_vote, token: @voter.token}) do |f| %>
        <% @lists.each do |list| %>
            <div class="radio vote">
              <label>
                <%= f.radio_button :listing_id, list.id %> <%= list.name %>
              </label>
            </div>
        <% end %>
        <div class="radio vote">
          <label>
            <%= f.radio_button :listing_id, 0 %> Vote blanc
          </label>
        </div>
        <%= f.submit 'Voter', class: %w(btn btn-primary btn-block) %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        Validez-vous votre participation aux élections du BdE INSA Lyon ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-success" id="confirmButton">Oui</button>
      </div>
    </div>
  </div>
</div>