<h1 class="text-center">Elections BdE INSA Lyon</h1>
<p>Chers adhérent(e)s,</p>
<p>Comme chaque année, le Bureau des Elèves procède au renouvellement du collège des membres adhérents,
  et c'est à vous de voter !</p>
<p>Pour information, le collège des membres adhérents compose la partie majoritaire dans le conseil
  d’administration du BdE. Les listes sont composées de 5 à 9 membres. Le collège des membres actifs vient compléter
  le conseil d’administration avec n-1 membres par rapport au collège des membres adhérents.</p>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5 col-sm-6 col-sm-offset-3">
    <a class="btn btn-primary btn-block" role="button" data-toggle="collapse" href="#moreAbout" aria-expanded="false" aria-controls="collapseExample">
      En savoir plus
    </a>
  </div>
</div>
<p></p>
<div class="collapse clearfix" id="moreAbout">

  <div class="row">
    <div class="col-md-6"><%= image_tag 'election_bde.png', width: '100%' %></div>
    <div class="col-md-6">
      <div class="well">
        <h5>Article 8 : Modalités des élections du BdE.</h5>

        <p>Les élections du collège des membres adhérents du BdE doivent intervenir au plus tard le quinze juin de chaque année. La date précise est fixée par le CA au plus tard le quinze avril. L'annonce des élections se fera au moins quatre semaines avant celles-ci par affichage et si possible, dans le Post’it. Le dépôt des listes se fait par lettre adressée au président du BdE, et ce jusqu’à deux semaines avant le début des élections. La recevabilité des listes sera vérifiée par le bureau. Seuls les membres adhérents du BdE au cours de l’année de leur éventuel mandat peuvent se déclarer candidats. Une personne ne pourra se présenter que sur une seule liste, chaque liste étant composée d’un minimum de cinq personnes, et d’un maximum de neuf personnes.</p>

        <p>Les membres adhérents disposeront d’une semaine pour voter sur le site Internet du BdE. La distribution de tracts concernant les élections est interdite le jour des élections. Tout affichage concernant des candidats aux élections est interdit sur et dans les bureaux de vote.</p>

        <p>En cas de fraude, le CA du BdE pourra disqualifier la liste ayant commis la fraude. Les votes exprimés en sa faveur seront considérés comme nuls. L’élection du collège des membres adhérents se fera à la majorité relative en un seul tour.</p>

        <p>Le panachage des listes est interdit ; le vote se fait à la liste. Toutes les listes raturées seront comptées comme nulles.</p>
      </div>
    </div>
  </div>

</div>

<p style="clear: both"></p>

<p class="clearfix" style="margin-top:20px;">Cette année, 6 listes sont candidates, retrouve leur programme sur leur page Facebook ou site !</p>

<%= form_for(@vote, url:{action: :register_vote, token: @voter.token}) do |f| %>
    <% Listing.all.each do |list| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2">
                <%= f.radio_button :listing_id, list.id, class: %w(form-control) %>
              </div>
              <div class="col-xs-10">
                <p><b><%= list.name %></b> composée de <span><%= list.participants %></span></p>
                <%- unless list.facebook.nil? or list.facebook.empty? %>
                  <p><a href="<%= list.facebook %>" target="_blank">Voir sur Facebook</a></p>
                <% end %>
                <%- unless list.website.nil? or list.website.empty? %>
                  <p><a href="<%= list.website %>" target="_blank">Voir le site web</a></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%= f.submit 'Voter', class: %w(btn btn-primary btn-block) %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        Vous n'avez pas sélectionné de liste, voulez-vous confirmer un vote blanc ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-success" id="confirmButton">Oui</button>
      </div>
    </div>
  </div>
</div>