<!DOCTYPE html>
<html>
<head>
  <title>Elections BdE</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= viewport_meta_tag(:maximum_scale => '1.0') %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="head text-center">
    <%= image_tag 'bde.png', width: '70px' %>
  </div>
  <%= bootstrap_flash %>
  <%= yield %>
  <footer class="text-center text-muted">
    &copy; 2016 BdE INSA Lyon
  </footer>
</div>

</body>
</html>
