<!DOCTYPE html>
<html>
<head>
  <title>Castor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= viewport_meta_tag(:maximum_scale => '1.0') %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= bootstrap_flash %>
  <%= yield %>
</div>

</body>
</html>
